body {
    -moz-osx-font-smoothing : grayscale;
    -moz-user-select        : none;
    -ms-user-select         : none;
    -webkit-font-smoothing  : antialiased;
    -webkit-user-select     : none;
    font-family             : Tahoma, sans-serif;
    margin                  : 0;
    overflow                : hidden;
    padding                 : 0;
    user-select             : none;
}

@media (max-width : 1200px) {
    body {
        cursor : none !important;
    }
}

#fap-main {
    background : url(/images/fap/background.png) no-repeat;
    height     : 768px;
    position   : absolute;
    width      : 1024px;
}


#fap-page-title {
    color          : #FFFFFF;
    font-size      : 26px;
    left           : 262px;
    margin         : 0 auto;
    position       : absolute;
    text-align     : center;
    text-transform : uppercase;
    top            : 32px;
    width          : 500px;
}

.fap-arrow {
    border-top    : 15px solid transparent;
    border-bottom : 15px solid transparent;
    border-right  : 30px solid #333333;
    position      : relative;
    width         : 0;
    height        : 0;
}

.fap-arrow-inactive {
    border-right : 30px solid #9F9F9F;
}

.fap-right-arrow {
    transform : rotate(180deg);
    left      : 14px;
}


.fap-left-arrow {
    left : 10px;
}


.fap-down-arrow {
    transform : rotate(270deg);
    left      : 12px;
    top       : 14px;
}


.fap-up-arrow {
    transform : rotate(90deg);
    left      : 12px;
}


#fap-screen-off {
    left : 30px;
    top  : -64px;
}

#fap-screensaver {
    background : #000000 url(/images/fap/screensaver.png) no-repeat center;
    display    : none;
    height     : 768px;
    width      : 1024px;
}

#fap-help {
    left : 936px;
    top  : -41px;
}

#fap-content {
    font-size    : 14px;
    font-weight  : 700;
    height       : 544px;
    padding-left : 50px;
    width        : 925px;
}

.white-text {
    color : #FFFFFF;
}

.black-text {
    color : #000000;
}

.red-text {
    color : #E23232 !important;
}

.red-bg {
    background : #E23232 !important;
}

.yellow-text {
    color : #EAB05C;
}

.yellow-bg {
    background : #EAB05C;
}

.green-text {
    color : #68B13C;
}

.green-bg {
    background : #68B13C;
}