@media (max-width : 1200px) {
    body {
        cursor : none !important;
    }
}

body {
    -moz-osx-font-smoothing : grayscale;
    -moz-user-select        : none;
    -ms-user-select         : none;
    -webkit-font-smoothing  : antialiased;
    -webkit-user-select     : none;
    font-family             : Arial, sans-serif;
    margin                  : 0;
    overflow                : hidden;
    padding                 : 0;
    user-select             : none;
}

#fap-screensaver {
    background : #000000 url(/images/screensaver/screensaver.png) no-repeat center;
    display    : none;
    width      : 1024px;
    height     : 768px;
}

#fap-main {
    background : url(/images/fap/background.png) no-repeat;
    width      : 1024px;
    height     : 768px;
    position   : absolute;
}

#fap-page-title {
    color          : #FFFFFF;
    font-size      : 26px;
    left           : 262px;
    margin         : 0 auto;
    position       : absolute;
    text-align     : center;
    text-transform : uppercase;
    top            : 32px;
    width          : 500px;
}

#fap-maintenance-mode {
    background : #000000 url(/images/fap/maintenance.png) no-repeat center;
    display    : none;
    width      : 1024px;
    height     : 768px;
}

#fap-help {
    left : 936px;
    top  : -41px;
}

#fap-top {
    height : 80px;
}

#fap-content {
    font-size    : 14px;
    height       : 574px;
    padding-left : 50px;
    width        : 925px;
}

.bold-text {
    font-weight : bold;
}

.white-text {
    color : #FFFFFF;
}

.black-text {
    color : #000000;
}

.red-text {
    color : #E23232 !important;
}

.red-bg {
    background : #E23232 !important;
}

.yellow-text {
    color : #EAB05C;
}

.yellow-bg {
    background : #EAB05C;
}

.green-text {
    color : #68B13C;
}

.green-bg {
    background : #68B13C;
}

#message-popup {
    position         : relative;
    top              : 330px;
    left             : 180px;
    background-color : #DDDDDD;
    width            : 655px;
    height           : 130px;
    text-align       : center;
    line-height      : 75px;
    padding          : 10px;
}

#message {
    font-weight : bold;
    height      : 75px;
    line-height : 20px;
}

.no-select {
    -khtml-user-select    : none;
    -moz-user-select      : none;
    -ms-user-select       : none;
    -webkit-touch-callout : none;
    -webkit-user-select   : none;
    user-select           : none;
}

.select-box {
    position : relative;
    display  : flex;
}

.select-box select {
    width : 300px;
}