#audio-volume-state {
    list-style : none;
}

#audio-volume-state li {
    border-bottom : 1px solid #000000;
    height        : 7.6px;
    box-shadow    : inset 2px 2px 2px 0 #2F2F2F, inset 0px 0px 1px #DDDDDD
}

#audio-volume-state li:first-child {
    border-top-right-radius : 5px;
    border-top-left-radius  : 5px;
}

#audio-volume-state li:last-child {
    border-bottom              : none;
    border-bottom-right-radius : 5px;
    border-bottom-left-radius  : 5px;
}

#audio-volume-state li.active {
    background-color : #333487;
}

.audio-file-list-item {
    white-space   : nowrap;
    overflow      : hidden;
    text-overflow : ellipsis;
}

#audio-current-file {
    white-space   : nowrap;
    overflow      : hidden;
    text-overflow : ellipsis;
}