@media (max-width : 1200px) {
    body {
        cursor : none !important;
    }
}

body {
    -moz-osx-font-smoothing : grayscale;
    -moz-user-select        : none;
    -ms-user-select         : none;
    -webkit-font-smoothing  : antialiased;
    -webkit-user-select     : none;
    font-family             : Arial, sans-serif;
    margin                  : 0;
    overflow                : hidden;
    padding                 : 0;
    user-select             : none;
}

#fap-screensaver {
    background : #000000 url(/images/screensaver/screensaver.png) no-repeat center;
    display    : none;
    width      : 1024px;
    height     : 768px;
}

#fap-main {
    background : url(/images/fap/background.png) no-repeat;
    width      : 1024px;
    height     : 768px;
    position   : absolute;
}

#fap-page-title {
    color          : #FFFFFF;
    font-size      : 26px;
    left           : 262px;
    margin         : 0 auto;
    position       : absolute;
    text-align     : center;
    text-transform : uppercase;
    top            : 32px;
    width          : 500px;
}

#fap-maintenance-mode {
    background : #000000 url(/images/fap/maintenance.png) no-repeat center;
    display    : none;
    width      : 1024px;
    height     : 768px;
}

#fap-help {
    left : 936px;
    top  : -41px;
}

#fap-top {
    height : 80px;
}

#fap-content {
    font-size    : 14px;
    height       : 574px;
    padding-left : 50px;
    width        : 925px;
}

.bold-text {
    font-weight : bold;
}

.white-text {
    color : #FFFFFF;
}

.black-text {
    color : #000000;
}

.red-text {
    color : #E23232 !important;
}

.red-bg {
    background : #E23232 !important;
}

.yellow-text {
    color : #EAB05C;
}

.yellow-bg {
    background : #EAB05C;
}

.green-text {
    color : #68B13C;
}

.green-bg {
    background : #68B13C;
}

#message-popup {
    position         : relative;
    top              : 330px;
    left             : 180px;
    background-color : #DDDDDD;
    width            : 655px;
    height           : 130px;
    text-align       : center;
    line-height      : 75px;
    padding          : 10px;
}

#message {
    font-weight : bold;
    height      : 75px;
    line-height : 20px;
}

#smoke-detected-popup {
    z-index  : 999;
    position : absolute;
    top      : 380px;
    right    : 0;

    height   : 180px;
    width    : 110px;
}

.no-select {
    -khtml-user-select    : none;
    -moz-user-select      : none;
    -ms-user-select       : none;
    -webkit-touch-callout : none;
    -webkit-user-select   : none;
    user-select           : none;
}

.select-box {
    position : relative;
    display  : flex;
}

.select-box select {
    width : 300px;
}
/**
 * FAP-Buttons
 */
.fap-button {
    background     : url(/images/buttons/button.png) no-repeat;
    color          : #000000;
    display        : table-cell;
    font-size      : 10px;
    height         : 55px;
    position       : relative;
    text-align     : center;
    vertical-align : middle;
    width          : 55px;
    font-weight    : bold;
}

.fap-button-active {
    background : url(/images/buttons/button_active.png) no-repeat;
}

.fap-button-group, .fap-button-group-big {
    position : relative;
}

.fap-button-group-3-horizontal {
    position: absolute;
    width  : 165px;
    height : 55px;
}

.fap-button-group-2-horizontal {
    width  : 110px;
    height : 55px;
}

.fap-button-group-4-vertical {
    width  : 55px;
    height : 220px;
}


.fap-button-group-big-title {
    font-size  : 14px;
    position   : relative;
    text-align : center;
    top        : 5px;
    width      : 440px;
}

.fap-button-group-title {
    font-size  : 14px;
    position   : relative;
    text-align : center;
    top        : 5px;
    width      : 220px;
}

.fap-button-inactive {
    background : url(/images/buttons/button_inactive.png) no-repeat;
    color      : grey;
}

.fap-button-navigation {
    position : static;
}
#fap-navigation-additional-left {
    position: relative;
    top: 45px;
    left: 29px;
    width: 115px;
}

#fap-navigation-additional-right {
    position: relative;
    top: -119px;
    left: 936px;
    width: 115px;
}

#fap-navigation {
    height   : 110px;
    left     : 170px;
    position : relative;
    top      : -35px;
    width    : 700px;
}

#fap-navigation-right {
    position: relative;
}

#fap-navigation-buttons {
    left     : 38px;
    position : relative;
    top      : 25px;
}

#fap-navigation-caution {
    left : 30px;
    top  : 14px;
}

#fap-navigation-slider {
    background : url(/images/fap/slider.png) no-repeat;
    height     : 10px;
    width      : 172px;
    position   : absolute;
    top        : 3px;
}

.fap-navigation-slider-pos1 {
    left : 85px;
}

.fap-navigation-slider-pos2 {
    left : 264px;
}

.fap-navigation-slider-pos3 {
    left : 429px;
}
.fap-content-box {
    box-shadow         : inset 4px 4px 4px 0 #DDDDDD, inset -3px -3px 3px #2F2F2F;
    background         : #A8ADB1;
    border-radius      : 5px;
    padding            : 5px;
    position           : absolute;
}

.fap-display-box {
    box-shadow         : inset 2px 2px 2px 0 #2F2F2F, inset -2px -2px 2px #DDDDDD;
    background         : #BFE4E4;
    color              : #000000;
    border-radius      : 5px;
    padding            : 5px;
    position           : absolute;
}

.fap-list-box {
    box-shadow         : inset 2px 2px 2px 0 #2F2F2F, inset -2px -2px 2px #DDDDDD;
    background         : #FFFFFF;
    color              : #000000;
    position           : absolute;
    border-radius      : 5px;
    padding            : 5px;
    margin             : 0;
    list-style         : none;
}


.fap-list-box li {
    width         : 180px;
    height        : 32px;
    line-height   : 30px;
    font-weight   : 400;
    border-bottom : 1px solid #000000;
}

.fap-list-box li.active {
    background-color : #D9E9F9;
}



.fap-list-box li:not([style*='display:none']):last-child {
    border-bottom : none;
}


.fap-list-box li:nth-child(n+6) {
    display : none;
}

.fap-box-tiny {
    height : 50px;
    width  : 200px;
}

.fap-box-smaller {
    height : 75px;
    width  : 200px;
}

.fap-box-small {
    height : 125px;
    width  : 200px;
}

.fap-box-medium {
    height : 180px;
    width  : 440px;
}

.fap-box-large {
    height : 450px;
    width  : 585px;
}

.fap-box-title {
    text-align  : center;
    font-weight : bold;
    font-size   : 13px !important;
}


.fap-aircraft {
    background : url(/images/pages/aircraft.png) no-repeat;
    height     : 570px;
    position   : relative;
    width      : 82px;
}

.door {
    border      : solid 2px #000000;
    margin-left : -10px;
    position    : absolute;
}

.aircraft-module-doors .door {
    background-color : #EAB05C;
}

.aircraft-module-doors .door-open {
    background-color : #E23232;
}

.door-overwing {
    height : 16px;
    width  : 5px;
}

.door-generic, .door-front-rear {
    height : 19px;
    width  : 5px;
}

.door-open-entry {
    background : #FFFFFF !important;
    border     : solid 2px #FFFFFF !important;
}

.door-one {
    top : 70px;
}

.door-one-open {
    top : 47px;
}

#door-one-left {
    left      : 16px;
    transform : skew(-7deg);
}

#door-one-left-open {
    left : 10px;
}

#door-one-right {
    left      : 76px;
    transform : skew(7deg);
}

.door-two {
    top : 175px;
}

.door-two-open {
    top : 153px;
}

#door-two-left {
    left : 13px;
}

#door-two-right {
    left : 81px;
}

.door-three {
    top : 290px;
}

.door-three-open {
    top : 270px;
}

#door-three-left {
    left : 13px;
}

#door-three-right {
    left : 81px;
}

.door-four {
    top : 400px;
}

.door-four-open {
    top : 378px;
}

#door-four-left {
    left : 13px;
}

#door-four-right {
    left : 81px;
}

.door-five {
    top : 510px;
}

.door-five-open {
    top : 489px;
}

#door-five-left {
    left      : 20px;
    transform : skew(7deg);
}

#door-five-left-open {
    left : 9px;
}

#door-five-right {
    left      : 73px;
    transform : skew(-7deg);
}

#door-five-right-open {
    left : 84px;
}
.fap-arrow {
    border-top    : 15px solid transparent;
    border-bottom : 15px solid transparent;
    border-right  : 30px solid #333333;
    position      : relative;
    width         : 0;
    height        : 0;
}

.fap-arrow-inactive {
    border-right : 30px solid #9F9F9F;
}

.fap-right-arrow {
    transform : rotate(180deg);
    left      : 14px;
}


.fap-left-arrow {
    left : 10px;
}


.fap-down-arrow {
    transform : rotate(270deg);
    left      : 13px;
}


.fap-up-arrow {
    transform : rotate(90deg);
    left      : 12px;
}
.ball {
    display          : inline-block;
    width            : 100%;
    height           : 100%;
    border-radius    : 100%;
    position         : relative;
    background-color : #4964A3;

}

.ball:before {
    content        : '';
    position       : absolute;
    top            : 1%;
    left           : 5%;
    width          : 90%;
    height         : 90%;
    border-radius  : 100%;
    background     : radial-gradient(circle at top, white, rgba(255, 255, 255, 0) 30%);
    filter         : blur(10px);
    z-index        : 2;
}


.ball:after {
    content           : '';
    position          : absolute;
    display           : none;
    top               : 4%;
    left              : 4%;
    width             : 82%;
    height            : 80%;
    border-radius     : 100%;
    z-index           : 2;
    transform         : rotateZ(-30deg);
}


.ball .shadow {
    position          : absolute;
    width             : 100%;
    height            : 100%;
    background        : radial-gradient(circle, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
    transform         : rotateX(90deg) translateZ(-160px);
    z-index           : 1;
}

.ball.plain {
    background : black;
}

.ball.plain:before, .ball.plain:after {
    display : none;
}

.ball.bubble {
    width  : 60px;
    height : 60px;
    left   : 60px;
    top    : 6px;
    border : 1px solid #FFFFFF;
}

.ball.bubble:after {
    display    : block;
    background : radial-gradient(circle at 50% 80%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 74%, white 80%, white 84%, rgba(255, 255, 255, 0) 100%);
}

.pipe {
    height           : 250px;
    width            : 24px;
    position         : relative;
    z-index          : 2;
    left             : 78px;
    top              : 9px;
    border-left      : 1px solid #A0A5A9;
    border-right     : 1px solid #A0A5A9;
    background-color : #4964A3;
    background-size  : 100%;
}

.pipe-progress {
    background-color: #A8ADB1;
    height:0;
    width:24px;
    position:absolute;
    z-index: 1;
}

.white-line {
    background : linear-gradient(to right, rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
    height     : 250px;
    width      : 7px;
    position:absolute;
    z-index: 2;
}

.pipe-top {
    width                   : 24px;
    height                  : 12px; /* as the half of the width */
    border-top-left-radius  : 21px; /* 100px of height + 10px of border */
    border-top-right-radius : 21px; /* 100px of height + 10px of border */
    border                  : 1px solid #A0A5A9;
    border-bottom           : 0;
    position                : relative;
    top                     : 10px;
    left                    : 78px;
}

.pipe-scale {
    position : relative;
    right    : -53px;
    top      : -310px;
}

.pipe-scale div {
    font-weight : bold;
    position    : absolute;
}
#audio-volume-state {
    list-style : none;
}

#audio-volume-state li {
    border-bottom : 1px solid #000000;
    height        : 7.9px;
    box-shadow    : inset 2px 2px 2px 0 #2F2F2F, inset 0px 0px 1px #DDDDDD
}

#audio-volume-state li:first-child {
    border-top-right-radius : 5px;
    border-top-left-radius  : 5px;
}

#audio-volume-state li:last-child {
    border-bottom              : none;
    border-bottom-right-radius : 5px;
    border-bottom-left-radius  : 5px;
}

#audio-volume-state li.active {
    background-color : #333487;
}

.audio-file-list-item {
    white-space   : nowrap;
    overflow      : hidden;
    text-overflow : ellipsis;
}

#audio-current-file {
    white-space   : nowrap;
    overflow      : hidden;
    text-overflow : ellipsis;
}
.aircraft-module {
    width: 82px;
    position: absolute;
}

.aircraft-module-audio {
    left:75px;
}

.aircraft-module-lights {
    left:275px;
}

.aircraft-module-doors {
    left:475px;
}

.aircraft-module-temp {
    left:675px;
}

.aircraft-module-smoke {
    left:875px;
}
.lights {
    width    : 38px;
    border   : 2px solid #151A1E;
    position : absolute;
    left     : 20px;
}

.lights-entry {
    height : 12px;
}

#lights-320-346-fwd-entry {
    top : 74px;
}

#lights-320-business {
    height : 105px;
    top    : 98px;
}

#lights-320-economy {
    height : 285px;
    top    : 215px;
}

#lights-320-346-aft-entry {
    top   : 512px;
    width : 36px;
    left  : 21px;
}


#lights-346-first {
    top    : 98px;
    height : 68px;
}

#lights-346-fwd-galley {
    top : 178px;
}

#lights-346-business {
    top    : 202px;
    height : 90px;
}

#lights-346-fwd-economy {
    top    : 303px;
    height : 88px;
}

#lights-346-aft-galley {
    top : 403px;
}

#lights-346-rear-economy {
    top    : 427px;
    height : 73px;

}

.lights-label {
    font-size   : 13px;
    text-align  : center;
    width       : 38px;
    left        : 21px;
    position    : relative;
    font-weight : bold;
}

#lights-320-business-label {
    top : 105px;
}

#lights-320-economy-label {
    top : 207px;
}

#lights-346-first-label {
    top : 105px;
}

#lights-346-business-label {
    top : 194px;
}

#lights-346-economy-label {
    top : 280px;
}

.lights-select-box {
    position : absolute;
    display  : flex;
}

.lights-select {
    display  : block;
    position : relative;
    width    : 210px;
}

.lights-dim2 {
    background-color : #8C8B14;
}

.lights-dim1 {
    background-color : #B5B315;
}

.lights-brt {
    background-color : #E0DE1A;
}
.temperature-block {
    background-color : #82C7E9;
    width            : 42px;
    position         : relative;
    left             : 19px;
    text-align       : center;
    color            : #000000;
    font-weight      : bold;
}

.temperature-block-346 {
    height      : 100px;
    line-height : 100px;
}

.temperature-block-320 {
    height      : 200px;
    line-height : 200px;
}

#temperature-scale {
    width : 60%;
}

#temperature-setter {
    width : 40%;
}
.smoke-detector {
    border           : solid 1px #000000;
    height           : 10px;
    width            : 10px;
    background-color : #C2C7CA;
    position         : absolute;
}


.smoke-detected {
    background-color : #E23232 !important;
}
#fap-door-legend {
    position : absolute;
    top      : 500px;
    left     : 755px;
    width    : 170px;
}

.fap-door-legend-label {
    margin-left : 10px;
}

.fap-door-legend-row {
    font-weight : 400;
    height      : 40px;
    margin-left : 25px;
    margin-top  : 15px;
    width       : 160px;
}

.slides-disarmed {
    font-family : serif;
    width       : 190px !important;
    font-size   : 13px;
}

.slides-disarmed-left {
    float : left;
}

.slides-disarmed-right {
    float      : right;
    text-align : right;
}

#door-label {
    font-weight : bold;
}

#door-label div {
    height   : 20px;
    position : relative;
    width    : 215px;
}

.door-left-label {
    left : -225px;
}

.door-right-label {
    left : 104px;
}

.door-open {
    background-color : #E23232;
    border           : solid 2px #000000;
    visibility       : hidden;
}

.door-left-open {
    left : 5px;
}

.door-right-open {
    left : 89px;
}

.door-left-open-front-aft {
    left : 10px;
}

.door-right-open-front-aft {
    left : 82px;
}

.door-select {
    display  : block;
    position : relative;
    width    : 140px;
}

